%ul.navbar-custom
  %li
    %a.tooltipclassbtm.navclosed.btn-at{href: "javascript:void(0);", title: "Dashboard"}
      %i.fa.fa-list-alt.fa-lg
      %span Dashboard
      .clearfix
  %li
    %a.tooltipclassbtm.navclosed{href: "javascript:void(0);", title: "Jobs"}
      %i.fa.fa-briefcase.fa-lg
      %span Jobs
      .clearfix
  %li
    %a.tooltipclassbtm.navclosed{href: "javascript:void(0);", title: "Reports"}
      %i.fa.fa-clipboard.fa-lg
      %span Reports
      .clearfix
  %li
    %a.tooltipclassbtm.navclosed{href: "javascript:void(0);", title: "Settings"}
      %i.fa.fa-gear.fa-lg
      %span Settings
      .clearfix
  %li
    %a.notification-toggle.tooltipclassbtm.navclosed{href: "javascript:void(0);", title: "Notifications"}
      %i.fa.fa-envelope.fa-lg
      %span Notifications
      .clearfix
      .navbar-count-circle 4
  %li.shdw-row