-# flash notification
.alertbar.flash-notification
  %i.fa.fa-bolt.fa-lg.pull-left
  .pull-left
    This is a priority flash notification!
  .clearfix

  %a.close-this.close-btn
    %i.fa.fa-times-circle.fa-lg

-# approved job notification
.alertbar
  %i.fa.fa-check-square.fa-lg.pull-left
  .pull-left
    %a{href: "javascript:void(0);"} Job 12042
    is approved by
    %a{href: "javascript:void(0);"} David Sutter
  .clearfix

  %a.close-this.close-btn
    %i.fa.fa-times-circle.fa-lg

-# jobs entered department notification
.alertbar
  %i.fa.fa-retweet.fa-lg.pull-left
  .pull-left
    %a{href: "javascript:void(0);"} iGCmanager
    moved
    %a{href: "javascript:void(0);"} Job 12055
    from
    %a{href: "javascript:void(0);"} Body Shop
    department to
    %a{href: "javascript:void(0);"} Paint
    department
  .clearfix

  %a.close-this.close-btn
    %i.fa.fa-times-circle.fa-lg

-# assigned jobs notification
.alertbar
  %i.fa.fa-arrow-circle-right.fa-lg.pull-left
  .pull-left
    %a{href: "javascript:void(0);"} iGCmanager
    sent
    %a{href: "javascript:void(0);"} Job 12054
    to
    %a{href: "javascript:void(0);"} David Sutter
    for approval
  .clearfix

  %a.close-this.close-btn
    %i.fa.fa-times-circle.fa-lg