$cprimary1: #2b4fa3;
$cprimary1b: #679acd;
$cprimary1c: #86b9ec;
$cprimary2: #52525a;
$cprimary2b: #888890;
$cprimary2c: #c4c4cc;
$cprimary3: #f39203;
$cprimary3b: #f7a62f;
$cprimary4: #86c92e;
$cprimary4b: #a3e74a;
$cneutral0: #efefef;
$cneutral1: #cecece;
$cneutral2: #cccccc;
$cneutral3: #999999;
$cneutral4: #666666;
$cneutral5: #333333;
$cwhite: #ffffff;